/*底部导航*/
.bottom-nav {
	padding: 0;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 48px;
	border-top: 1px solid #e4e4e4;
	font-size: 12px;
}

.bottom-nav > div{
	height: 100%;
}

.bottom-nav > div a {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 68px;
	color: #333;
	text-decoration: none;
/*	position: absolute;
	left: 50%;
	bottom: 5px;*/
}

.bottom-nav > div .active {
	color: blue;
}

/*标签页内容*/

/*首页轮播图*/
#carousel-home  {

}

#carousel-home .carousel-inner {

}


.tab-content #task {
	height: 100px;
}